# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
POSTGRES_URL="postgres://default:nTD2Ej3gKstv@ep-cool-wind-a4dqmv0r-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:nTD2Ej3gKstv@ep-cool-wind-a4dqmv0r-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:nTD2Ej3gKstv@ep-cool-wind-a4dqmv0r-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:nTD2Ej3gKstv@ep-cool-wind-a4dqmv0r.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-cool-wind-a4dqmv0r-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="nTD2Ej3gKstv"
POSTGRES_DATABASE="verceldb"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_a25vd24tcGFuZGEtNzAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_1FvXbFeTl7EhcXePOFkP2Bh15jktg6QBh0OpLC8ov4

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
